<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoinBoX3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <CoinBoX3.My.MySettings>
            <setting name="Setting_InsertCoinButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_InsertCoin_Waiting_time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Settings_Rates" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Settings_Rates_Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Settings_Number_of_rates" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunAtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableTaskMngr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShutdownTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimesUpReminder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimesUpWarningTime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Terminator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TerminatorExempt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegisteredPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="Access" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Coin_Total_One" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coin_Total_Five" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coin_Total_Ten" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Settings_Rates_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_Rates_Note" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_PC_Name" serializeAs="String">
                <value>YourKing</value>
            </setting>
            <setting name="Setting_PC_Number" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="Setting_Banner_Path" serializeAs="String">
                <value>https://marketplace.canva.com/EAE-rfspHQM/1/0/1600w/canva-blue-and-purple-cyberpunk-game-zone-desktop-background-QUVVB5lzUWo.jpg</value>
            </setting>
            <setting name="Setting_Banner_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_Banner_Text_Enabler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_Enable_Login_Btn" serializeAs="String">
                <value>True</value>
            </setting>
        </CoinBoX3.My.MySettings>
    </userSettings>
</configuration>
